# =========================
# Environment files
# =========================
.env
.env.*
!.env.example

# =========================
# Docker
# =========================
docker-data
*.log

# =========================
# PostgreSQL local data (caso use bind mount no futuro)
# =========================
postgres_data/

# =========================
# Windows
# =========================
Thumbs.db
desktop.ini

# =========================
# VSCode
# =========================
.vscode/

# =========================
# Node (se usar depois)
# =========================
node_modules/
dist/
build/

# =========================
# Logs
# =========================
logs/
*.log